&trackball_central {
    cpi = <600>;
}

&trackball_central_listener {
    status = "okay";
    device = <&trackball_central>;
    input-processors 
        = <&zip_xy_scaler 2 1>
        , <&zip_ble_report_rate_limit>;
};